@import url(style.css);

.secao-ajuda {
  background: var(--degrade-azul-roxo);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  & img {
    display: none;
    margin: 0 auto;
    position: absolute;
    height: 100%;
    left: 25%;
  }

  & h1 {
    
    font-size: 6.25em;
    position: absolute;
    /*top: 50%;
    */
    left: 15%;
    text-align: center;
    
    margin: 20px;
  }

  & .ajuda-titulo {
    color: var(--branco);
    z-index: 0;
  }

  & .ajuda-titulo-contorno {
    position: absolute;
    color: transparent;
    z-index: 1;
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: var(--branco); /* cor da borda */
  }
}

.secao-pergunta {
  padding: 50px;
  background-color: var(--branco);

  & .pergunta-titulo {
    margin-bottom: 15px;
    text-transform: uppercase;
    color: var(--roxo);
    font-size: 2em;
    font-weight: 700;
  }

  & .box-perguntas {
    padding: 20px 0px;

    & .pergunta-subtitulo {
      font-size: 1.5em;
      font-weight: 600;
      color: var(--roxo);
      margin-bottom: 10px;
    }

    & .pergunta-texto {
      font-size: 1.25em;
      font-weight: 400;
      color: var(--cinza);
    }
  }
}

.secao-mensagem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding: 50px;
  background-color: var(--roxo-claro);

  & .mensagem-textos {
    padding: 15px;
    background-color: var(--roxo);
    border-radius: 10px;
    color: var(--branco);

    & .mensagem-titulo {
      font-size: 2.5em;
      margin-bottom: 20px;
      font-weight: 700;
    }
    
    & .mensagem-texto {
        font-size: 1.25em;
        font-weight: 500;
    }
  }

  & .box-mensagem {

    & textarea {
      border: 1px #000 solid;
      width: 500px;
      height: 500px;
    }
  }
}

@media (max-width: 850px) {
  .secao-ajuda {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    text-transform: uppercase;

    h1{
      font-size: 2.5em;
      text-align: center;
      position: static;
    }

    .ajuda-titulo-contorno{
      display: none;
    }

    & img {
      display: none;
    }
  }

  .secao-mensagem{
    flex-direction: column;

    & .box-mensagem {

      & textarea {
        width: 100%;
        height: 500px;
      }
    }
  }
}