@import url(style.css);

.secao-ajuda {
  background: linear-gradient(var(--azul), var(--roxo));
  height: 100vh;

  & img {
    margin: 0 auto;
    position: absolute;
    height: 100%;
    left: 20%;
  }

  & h1 {
    font-size: 6.25em;
    position: absolute;
    text-align: center;
    top: 50%;
    margin: 20px;
  }

  & .ajuda-titulo {
    color: var(--branco);
    z-index: 0;
  }

  & .ajuda-titulo-contorno {
    color: transparent;
    z-index: 1;
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: var(--branco); /* cor da borda */
  }
}

.secao-pergunta {
  padding: 50px;
  background-color: var(--branco);

  & .pergunta-titulo {
    margin-bottom: 15px;
    text-transform: uppercase;
    color: var(--roxo);
    font-size: 2em;
    font-weight: 700;
  }

  & .box-perguntas {
    padding: 20px 0px;

    & .pergunta-subtitulo {
      font-size: 1.5em;
      font-weight: 600;
      color: var(--roxo);
      margin-bottom: 10px;
    }

    & .pergunta-texto {
      font-size: 1.25em;
      font-weight: 400;
      color: var(--cinza);
    }
  }
}

.secao-mensagem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;

  & .mensagem-textos {
    padding: 15px;
    background-color: var(--roxo);
    border-radius: 10px;
    color: var(--branco);

    & .mensagem-titulo {
      font-size: 2.5em;
      margin-bottom: 5px;
    & .mensagem-texto {
        font-size: 1.25em;
    }
  }

  & .box-mensagem {

    & textarea {
    border: 1px #000 solid;
      padding: 15px;
    }
  }
}

@media (max-width: 850px) {
  .secao-ajuda {
    background: linear-gradient(var(--azul), var(--roxo));
    height: 100vh;

    & img {
      display: none;
      position: static;
    }

    & h1 {
      font-size: 6.25em;
      position: static;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    & .ajuda-titulo {
      color: var(--branco);
      z-index: 0;
    }

    & .ajuda-titulo-contorno {
      display: none;
      color: transparent;
      z-index: 1;
      -webkit-text-stroke-width: 2px; /* largura da borda */
      -webkit-text-stroke-color: var(--branco); /* cor da borda */
    }
  }
}
