@import url(style.css);

.secao-cartoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    color: var(--roxo);
    text-align: center;
    margin: 60px 0;
}

.cartoes-titulo{
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
}

.cartoes-subtitulo{
    font-size: 1.5em;
    font-weight: 600;
    line-height: 150%;
}


.secao-vantagens{
    padding: 50px;
    background-color: var(--roxo-claro);
    color: var(--roxo);
    display: flex;
    flex-direction: column;
    gap: 54px;
    
    .vantagens-titulo{
        text-align: center;
        font-size: 3em;
        font-weight: 700;
        text-transform: uppercase;
    }

    .vantagens-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.cartao-apresentao{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;

    div{
        
        width: 100%;
        & img{
            width: 100%;
        }
        
    }
}

.apresentacao-inversa{
    flex-direction: row-reverse;
}

.cartao-apresentao-textos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cartoes-texto{
    width: 523px;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 110%;
}


.secao-cartao-premium{
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--roxo);
    color: var(--branco);
}

.cartao-premium-box{
    padding: 50px;
    border-radius: 20px;
    background-color: var(--branco);
    color: var(--roxo);
}

.cartao-premium-titulo{
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
}

.cartao-premium-texto{
    font-size: 1.5em;
    font-weight: 500;
    line-height: 150%;
}

.cartao-premium-vantagens{
    font-size: 1.25em;
    line-height: 110%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    width: 100%;

    .premium-vantagens-box{
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    & .premium-vantagens-item{
        display: flex;
        align-items: center;
        gap: 15px;
    }

    & img{
        width: 40px;
        height: 40px;
    }

    & h3{
        font-weight: 600;
    }

    & p{
        font-weight: 300;
    }
    
    
}


/*.premium-vantagens-titulo{
    font-weight: 600;
}*/


@media (max-width: 850px) {
    .secao-cartao-premium{
        padding: 20px;
    }

    .cartao-premium-vantagens{
        flex-direction: column;
        gap: 36px;
    }
}