@import url(style.css);

.secao-contas-img{
    /*background: url("../assets/QuebraCabeca.jpg") lightgray 50% / cover no-repeat;*/
    background: var(--degrade-azul-roxo);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-weight: 700;
    padding: 100px 50px 100px 50px;
    color: var(--branco);

    .contas-box-destaque{
        width: 650px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    h1{
        font-size: 3em;
        margin-bottom: 20px;
        line-height: 110%;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: var(--roxo);
    }
    
    img{
        width: 100%;
    }

    & .botao{
        font-size: 1.25em;
        padding: 15px;
        border-radius: 10px;
        background-color: var(--branco);
        color: var(--roxo);
        text-transform: uppercase;
        text-decoration: none;
    }

    & .botao:hover{
        color: var(--branco);
        background: var(--verde-agua);
    }
}

.conta-kids{
    background-color: var(--verde-agua-claro);
    color: var(--verde-agua);
}

.conta-basica{
    background-color: var(--roxo-claro);
    color: var(--roxo);
}

.conta-premium{
    background: var(--degrade-roxo);
    color: var(--branco);
}

.secao-contas{
    padding: 150px;
    display: flex;
    justify-content: center;

    .contas-box{
        display: flex;
        align-items: center;
        gap: 50px;
        

        .contas-box-titulos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            & h2{
                font-size: 3em;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        p{
            font-size: 1.5em;
            font-weight: 400;
            text-align: justify;
            line-height: 150%;
        }
    }
}

@media (max-width: 850px) {
    .secao-contas-img{
        text-align: center;
        padding: 100px 20px;

        & img{
            display: none;
        }
    }

    .secao-contas{
        padding: 50px;
        flex-direction: column;
    }
    .contas-box{
        flex-direction: column;
    }
}