@import url(style.css);

.secao-login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--azul-escuro);
    height: 90vh;

    & img{
        width: 40%;
        height: auto;
    }

    & .login{
        display: flex;
        padding: 40px;
        width: 500px;
        flex-direction: column;
        justify-content: center;
        background-color: var(--branco);
        border-radius: 10px;
        color: var(--branco);
        -webkit-box-shadow: -2px 2px 25px -12px var(--branco);
        -moz-box-shadow: -2px 2px 25px -12px var(--branco);
        box-shadow: -2px 2px 25px -12px var(--branco);

        & .login-titulo{
            font-size: 1.5em;
            color: var(--roxo);
            font-weight: 700;
            margin-bottom: 15px;
        }
    }

    form{
        color: var(--roxo);
        width: 100%;
    
        & input{
            font-family: 'Poppins';
        }

        & .input{
            padding: 10px 0px 10px 10px;
            width: 100%;
            margin: 5px 0px 15px 0px;
            border: 0px;
            border-bottom: 1px solid var(--roxo);
            border-radius: 5px;
        }
    
        & .label{
            font-weight: 600;
        }

        & .enviar{
            padding: 10px;
            background-color: var(--roxo);
            color: var(--branco);
            font-weight: 800;
            border: 0px;
            border-radius: 8px;
            width: 100%;
        }

        & .enviar:hover{
            background-color: var(--verde-agua);
        }
    }

    & .texto{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 50px;
        color: var(--roxo);
        

        & a{
            color: var(--roxo);
            font-weight: 500;
        }

        & a:hover{
            text-decoration: underline 2.5px var(--azul); 
        }
    }
}

@media (max-width: 1000px) {
    .secao-login{
        flex-direction: column;
        padding: 50px;
        height: auto;

        & img{
            width: 100%;
        }

        .login{
            width: 100%;

            & .input{
                width: 100%;
            }
        }

        .texto{
            gap: 15px;
        }
    }
}