@import url(style.css);

.secao-login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--branco);

}



.secao-login .login{
    display: flex;
    width: 500px;
    height: 400px;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--branco);
    border-radius: 10px;
}

.login .titulo{
    font-size: 1.5em;
    color: var(--roxo);
    font-weight: 700;
    margin-bottom: 15px;
}

form{
    color: var(--roxo);
}

form .input{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 0px;
    border-bottom: 1px solid var(--roxo);
    border-radius: 5px;
}

form label{
    font-weight: 600;
}

form input{
    padding: 10px;
}

@media (max-width: 800px) {
    .secao-login{
        flex-direction: column;
    }
}