@import url(style.css);

.secao-pontos-img{
    width: 100%;
    height: 1000px;
    background: url("../assets/Pontos.png") lightgray 50% / cover no-repeat;

    & img{
        display: none;
        width: 80%;
    }
}

.secao-pontos-descricao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 18px;
    color: var(--roxo);
    margin: 50px;
}

.pontos-titulo{
    font-size: 3em;
    font-weight: 700;
}

.pontos-texto{
    font-size: 1.5em;
    font-weight: 600;
}

.pontos-box{
    text-align: left;
    margin: 10px;
    padding: 25px 50px;
    min-height: 550px;
    background-color: var(--roxo);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: stretch;
    border-radius: 20px;
    gap: 15px;
}

.pontos-lista li::before{
    content: '- ';
}

.pontos-box-titulo{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 15px;
}

.pontos-box-texto, .pontos-lista li{
    color: var(--branco);
    font-size: 1.25em;
    margin-bottom: 15px;
}

.pontos-box-destaque{
    font-weight: bold;
}

@media (max-width: 850px) {
    .secao-pontos-img{
        display: none;
    }

    .secao-pontos-descricao{
        margin: 15px;
    }

    .pontos-box{
        padding: 20px;
    }
}