@import url(reset.css);
@import url(login.css);

*{
    text-decoration: none;
}

:root{
    --amarelo: rgba(251,188,5,1);
    --azul: rgba(2,123,212,1);
    --azul-claro: rgba(2,123,212,0.2);
    --azul-escuro: rgba(26, 45, 78, 1);
    --branco: rgba(240,239,244,1);
    --cinza: rgba(130,130,130,1);
    --efeito-vidro: rgba(255, 255, 255, 0.05);
    --degrade-verde-azul: linear(var(--verde-agua), var(--azul));
    --degrade-azul-roxo: linear(var(--azul), var(--roxo));
    --degrade-roxo: linear(rgba(123,44,191),rgba(90,24,154,1));
    --preto: rgba(0,0,0,1);
    --roxo: rgba(53, 61, 171, 1);
    --roxo-claro: rgba(53,61,171,0.2);
    --verde: rgba(4,169,92,1);
    --verde-claro: rgba(4, 169, 92, 0.30);
    --verde-agua: rgba(42,157,143,1);
    --verde-agua-claro: rgba(42,157,143,0.2);
    --verde-escuro: rgba(2,67,36);
    --vermelho: rgba(250,2,2,1);
}

body{
    background-color: var(--branco);
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
}

::selection {
    background-color: var(--azul);
    color: var(--branco);
}

/*MENUS*/
.header{
    background-color: var(--efeito-vidro);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--roxo);
    font-weight: 500;
    position: sticky;
    top: 0px;
    text-align: center;
}

.nav-lista{
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-link:hover{
    text-decoration: underline 2px var(--azul);
}

.nav-logo{
    width: 50px;
    height: 50px;
}

header nav a{
    text-decoration: none;
    color: var(--roxo);
}

.nav-botao{
    padding: 10px;
    background-color: var(--roxo);
    color: var(--branco);
    border-radius: 5px;
}

.nav-botao:hover{
    text-decoration: none;
    color: var(--branco);
    background-color: var(--verde);
}

.nav-menu-texto{
    display: flex;
    align-items: center;
}

.nav-menu img{
    width: 25px;
}

.nav-menu:hover img{
    width: 25px;
    transition: 0.25s ease-in-out all;
    transform: rotate(180deg);
}

.nav-menu:hover .drop-down{
    display: block;
}

.drop-down{
    text-align: center;
    background-color: var(--roxo);
    position: absolute;
    padding: 15px;
    border-radius: 5px;
    display: none;

    & li{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    & li a{
        color: var(--branco);
        margin: 5px;
    }

    &li:hover{
        color: var(--cinza);
    }
}



/*SECAO PRINCIPAL*/
.secao-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--roxo);
    padding: 90px 150px;
}

.secao-principal .item{
    /*width: 650px;*/
}

.secao-principal .titulo{
    font-size: 3em;
    font-weight: 700;
}

.secao-principal .texto{
    font-size: 1.5em;
    font-weight: 500;
    color: var(--azul);
    margin: 15px 0px;
}

.secao-principal img{
    width: 100%;
}

.secao-principal .logo{
    color: var(--branco);
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: var(--roxo);
    font-size: 2.5em;
    font-weight: 800;
}

.secao-principal .conta{
    display: flex;
    gap: 15px;
    align-items: center;
}

.secao-principal .conta .botao{
    padding: 15px;
    background-color: var(--roxo);
    color: var(--branco);
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 100px;
}

.secao-principal .conta img{
    width: 35px;
    height: 35px;
}

/*SECAO DESCRICAO*/
.secao-descricao{
    background-color: var(--roxo);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;*/
    color: var(--branco);
}

.secao-descricao .item{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 15px;
    margin: 50px;
}

.secao-descricao img{
    height: 100%;
}

.secao-descricao .titulo{
    font-size: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
}

.secao-descricao .texto{
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0;
}

.secao-descricao .texto-destaque{
    color: var(--amarelo);
}

.secao-descricao .botoes{
    display: flex;
    align-items: center;
    gap: 20px;
}

.secao-descricao button{
    padding: 15px;
    background-color: var(--vermelho);
    color: var(--branco);
    font-weight: 800;
    border: 0px;
    border-radius: 8px;
    text-transform: uppercase;
}

.secao-descricao .botoes img{
    width: 35px;
    height: 35px;
}

/*SECAO DESTAQUE*/
.secao-destaque{
    font-size: 3em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--preto);
    color: var(--branco);
    padding: 150px;
}

.secao-destaque .titulo{
    text-align: center;
}

.secao-destaque .destaque{
    position: relative;
}

.secao-destaque .destaque::before{
    content: " ";
    animation: palavras 20s infinite;
}

.secao-destaque .destaque::after{
    position: absolute;
    content: " ";
    height: 100%;
    border-left: 3px solid var(--branco);
    right: -10px;
    animation: cursor .8s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 18px);
    background-color: var(--preto);
}

@keyframes digita{
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 18px);
    }
}

@keyframes cursor{
    0%{
        border-left: solid var(--branco) 1px;
    }
}


@keyframes palavras{
    0%,20%{
        color: var(--verde);
        content: "pesquisa";
    }
    21%,40%{
        color: var(--vermelho);
        content: "segurança";
    }
    41%,60%{
        color: var(--amarelo);
        content: "transparência";
    }
    61%,80%{
        color: var(--roxo);
        content: "personalização";
    }
    81%,100%{
        color: var(--azul);
        content: "educação";
    }
}

.secao-vantagens{
    margin: 90px;
    display: flex;
    justify-content: space-evenly;
    color: var(--roxo);
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;

    & .box{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    & .item{
        display: flex;
        flex-direction: row;        
        align-items: center;
    }
    
    & img{
        width: 50px;
        height: 50px;
    }

    & .texto{
        margin-left: 15px;
    }
}

.secao-ajuda{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 50px 10px;
    background-color: var(--verde-claro);

    & .titulo{
        color: var(--verde-escuro);
        text-align: center;
        font-size: 3em;
        font-weight: 800;
        letter-spacing: 6px;
    }

    & .texto{
        color: var(--verde-escuro);
        text-align: center;
        font-size: 1.5em;
        font-weight: 400;
    }

    & .botao{
        color: var(--branco);
        font-weight: 800;
        text-transform: uppercase;
        background-color: var(--verde-escuro);
        letter-spacing: 2.4px;
        border-radius: 8px;
        padding: 15px;
    }

    & .botao:hover{
        background-color: var(--verde-agua);
    }
}

/*RODAPE*/
.footer{
    background-color: var(--preto);
    color: var(--cinza);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 10px;
}

.footer-logo{
    color: var(--branco);
    font-weight: bold;
}

.footer-titulo, .footer-texto{
    margin-bottom: 5px;
}

.footer-titulo{
    font-weight: bold;
}

.footer-texto{
    font-size: 12px;
    color: var(--cinza);
}

.footer-texto:hover{
    transition-duration: 2s;
    text-decoration: underline;
}

.footer-opcoes{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-opcoes-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 15px;
}

@media (max-width: 768px) { 
    .secao-principal{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .secao-vantagens{
        flex-direction: column;
        justify-content: left;

        gap: 10px;

        & .box{
            display: flex;
            justify-content: left;
            gap: 5px;
        }
    }
}

/*// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }*/