@import url(reset.css);
@import url(login.css);
@import url(cartoes.css);
@import url(negocios.css);
@import url(contas.css);

*{
    text-decoration: none;
}

:root{
    --amarelo: rgba(251,188,5,1);
    --azul: rgba(2,123,212,1);
    --azul-claro: rgba(2,123,212,0.2);
    --azul-escuro: rgba(26, 45, 78, 1);
    --branco: rgba(240,239,244,1);
    --cinza: rgba(130,130,130,1);
    --efeito-vidro: rgba(255, 255, 255, 0.05);
    --degrade-verde-azul: linear-gradient(var(--verde-agua), var(--azul));
    --degrade-azul-roxo: linear-gradient(var(--azul), var(--roxo));
    --degrade-roxo: linear-gradient(rgba(123,44,191),rgba(90,24,154,1));
    --preto: rgba(0,0,0,1);
    --roxo: rgba(53, 61, 171, 1);
    --roxo-carrosel: rgba(53, 61, 171, 0.20);
    --roxo-claro: rgba(53,61,171,0.2);
    --verde: rgba(4,169,92,1);
    --verde-claro: rgba(4, 169, 92, 0.30);
    --verde-agua: rgba(42,157,143,1);
    --verde-agua-claro: rgba(42,157,143,0.2);
    --verde-escuro: rgba(2,67,36);
    --vermelho: rgba(250,2,2,1);
}

body{
    background-color: var(--branco);
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    color: var(--roxo);
}

::selection {
    background-color: var(--azul);
    color: var(--branco);
}

p{
    line-height: 150%;
}
/*:hover{
    transition: 0.5s ease-in-out;
}*/

.botao:hover{
    transition: 0.5s  ease-in-out;
    background-color: var(--azul);
}

/*MENUS*/
.header{
    background-color: var(--efeito-vidro);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--roxo);
    font-weight: 500;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.nav-lista{
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-link{
    padding: 5px 15px 5px 15px;
}

.nav-link:hover{
    /*text-decoration: underline 2px var(--azul);
    transition: 0.5s  ease;
    */
    color: var(--azul);
    border-bottom: 2.5px solid var(--azul);

}

.nav-logo{
    width: 50px;
    height: 50px;
}

header nav a{
    color: var(--roxo);
}

.nav-botao{
    padding: 10px;
    background-color: var(--roxo);
    color: var(--branco);
    border-radius: 5px;
}

.nav-botao:hover{
    background-color: var(--azul);
}

.nav-menu-texto{
    display: flex;
    align-items: center;
}

.nav-menu img{
    width: 25px;
}

.nav-menu:hover img{
    width: 25px;
    transition: 0.25s ease-in-out all;
    transform: rotate(180deg);
}

.nav-menu:hover .drop-down{
    display: block;
}

.drop-down{
    text-align: center;
    background-color: var(--roxo);
    position: absolute;
    padding: 15px;
    border-radius: 5px;
    display: none;

    & li{
        display: flex;
        flex-direction: column;
        gap: 10px;

        & a{
            color: var(--branco);
            margin: 5px;
        }

        & a:hover{
            transition: 0.5s  ease-in;
            color: var(--cinza);
        }
    }
}

/*MENU RESPONSIVO*/

.nav-mobile{
    display: none;
}

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
}

#burger, .burger input{
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--roxo);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}
  
.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}
  
.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}
  
.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

.burger input:checked ~ .nav-lista-mobile{
    display: block;
}


/*SECAO PRINCIPAL*/
.secao-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    color: var(--roxo);
    margin: 50px;
    height: 70vh;
}

.secao-principal .item{
    width: 650px;
}

.secao-principal .titulo{
    font-size: 3em;
    font-weight: 700;
}

.texto-logo img{
    width: 50px;
}

.secao-principal .texto{
    font-size: 1.5em;
    font-weight: 500;
    color: var(--azul);
    margin: 15px 0px;
}

.secao-principal img{
    width: 100%;
}

.secao-principal .logo{
    width: 150px;
}

.secao-principal .logo{
    color: var(--branco);
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: var(--roxo);
    font-size: 2.5em;
    font-weight: 800;
}

.secao-principal .conta{
    display: flex;
    gap: 15px;
    align-items: center;
}

.secao-principal .conta .botao{
    padding: 15px;
    background-color: var(--roxo);
    color: var(--branco);
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 100px;
}

.secao-principal .conta img{
    width: 35px;
    height: 35px;
}

/*SECAO DESCRICAO*/
.secao-descricao{
    background-color: var(--roxo);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;*/
    color: var(--branco);
}

.secao-descricao .item{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 15px;
    margin: 50px;
}

.secao-descricao img{
    width: 100%;
}

.secao-descricao .titulo{
    font-size: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
}

.secao-descricao .texto{
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0;
}

.secao-descricao .texto-destaque{
    color: var(--amarelo);
}

.secao-descricao .botoes{
    display: flex;
    align-items: center;
    gap: 20px;
}

.secao-descricao button{
    padding: 15px;
    background-color: var(--vermelho);
    color: var(--branco);
    font-weight: 800;
    border: 0px;
    border-radius: 8px;
    text-transform: uppercase;
}

.secao-descricao .botoes img{
    width: 35px;
    height: 35px;
}

/*SECAO DESTAQUE*/
.secao-destaque{
    font-size: 3em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--preto);
    color: var(--branco);
    padding: 150px;
}

.secao-destaque .titulo{
    text-align: center;
}

.secao-destaque .destaque{
    position: relative;
}

.secao-destaque .destaque::before{
    content: " ";
    animation: palavras 20s infinite;
}

.secao-destaque .destaque::after{
    position: absolute;
    content: " ";
    height: 100%;
    border-left: 3px solid var(--branco);
    right: -10px;
    animation: cursor .8s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 18px);
    background-color: var(--preto);
}

@keyframes digita{
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 18px);
    }
}

@keyframes cursor{
    0%{
        border-left: solid var(--branco) 1px;
    }
}


@keyframes palavras{
    0%,20%{
        color: var(--verde);
        content: "pesquisa";
    }
    21%,40%{
        color: var(--vermelho);
        content: "segurança";
    }
    41%,60%{
        color: var(--amarelo);
        content: "transparência";
    }
    61%,80%{
        color: var(--roxo);
        content: "personalização";
    }
    81%,100%{
        color: var(--azul);
        content: "educação";
    }
}

.secao-conteudo{
    margin: 90px;
    display: flex;
    justify-content: space-evenly;
    color: var(--roxo);
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;

    & .box{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    & .item{
        display: flex;
        flex-direction: row;        
        align-items: center;
    }
    
    & img{
        width: 50px;
        height: 50px;
    }

    & .texto{
        margin-left: 15px;
    }
}

.secao-central-ajuda{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 50px 10px;
    background-color: var(--verde-claro);

    & .titulo{
        color: var(--verde-escuro);
        text-align: center;
        font-size: 3em;
        font-weight: 800;
        letter-spacing: 6px;
    }

    & .texto{
        color: var(--verde-escuro);
        text-align: center;
        font-size: 1.5em;
        font-weight: 400;
    }

    & .botao{
        color: var(--branco);
        font-weight: 800;
        text-transform: uppercase;
        background-color: var(--verde-escuro);
        letter-spacing: 2.4px;
        border-radius: 8px;
        padding: 15px;
    }

    & .botao:hover{
        background-color: var(--verde-agua);
    }
}

/*RODAPE*/
.footer{
    background-color: var(--preto);
    color: var(--cinza);
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    padding: 20px 10px;
}

.footer-logo{
    color: var(--branco);
    font-weight: bold;
}

.footer-titulo, .footer-texto{
    margin-bottom: 5px;
}

.footer-titulo{
    font-weight: bold;
}

.footer-texto{
    font-size: 12px;
    color: var(--cinza);
}

.footer-texto:hover{
    transition-duration: 2s;
    text-decoration: underline;
}

.footer-opcoes{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.footer-opcoes-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 15px 15px 15px;
}

.baixar{
    color: var(--branco);

    & .baixar-texto{
        color: var(--branco);
    }
}

hr{
    width: 100%;
    background: var(--cinza);
    display: none;
}

/*768*/
@media (max-width: 850px) { 
    main{
        font-size: 10px;
    }

    header{
        background-color: var(--branco);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }

    .nav{
        display: none;
    }

    .nav-mobile{
        display: block;
    }

    .nav-lista{
        display: none;
    }

    .nav-lista-mobile{
        background-color: var(--branco);
        position: fixed;
        left: 0;
        width: 100%;
        left: -100%;
        margin: 25px;
    }

    .drop-down-mobile{
        /*
        display: none;
        position: absolute;
        */
        background-color: var(--roxo);
        width: 80%;
        position: static;
        padding: 5px;

        & li{
            display: flex;
            flex-direction: column;
            gap: 10px;

            & a{
                color: var(--branco);
                margin: 5px;
            }
        }
    }

    .drop-down-mobile li{
        margin: 0;
        background: none;
    }

    .nav-lista-mobile li{
        
        display: block;
        padding: 20px;
        line-height: 30px;
        transition: all .5s;
    }

    .nav-lista-mobile li a:hover{
        background: none;
    }

    #burger:checked ~ .nav-lista-mobile{
        left: 0;
        display: block;
    }

    .secao-principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        
        & .item{
            width: 100%;
        }

        & img{
           display: none; 
        }
    }

    .secao-descricao{
        flex-direction: column;
        padding: 50px 20px;

        & .descricao-img{
            width: 60%;
        }
    }

    .secao-conteudo{
        font-size: 1.5em;
        flex-direction: column;
        justify-content: left;
        margin: 0px;
        padding: 50px;
        gap: 10px;

        & .box{
            display: flex;
            justify-content: center;
            gap: 5px;
        }
    }
}

@media (max-width: 600px){

    .footer-opcoes{
        flex-direction: column;
        margin: 10px;
        flex-wrap: wrap;
        gap: 5px;

        & .footer-opcoes-item{
            padding: 0px;
        }
    }

    hr{
        border: 1px solid var(--cinza);
        display: block;
    }
}

/*(@media screen and (prefers-color-scheme: dark) {
    // Dark mode styles
    :root{
        --branco: #000000;
        --preto: rgba(240,239,244,1);
    }
}*/